<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/enrichment/src/main/resources/static/style/index.css">
    <script src="https://kit.fontawesome.com/b69a734b4d.js" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v7.0.0/css/all.css"
  />

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-solid.css"
  />

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-regular.css"
  />

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-light.css"
  />

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v7.0.0/css/duotone.css"
  />
</head>
<body>
    <header>
        <img src="/enrichment/src/main/resources/static/images/gsclogo2.png" alt="" id="logo">
        <h1>Enrichment Items</h1>
        <a href="/enrichment/src/main/resources/templates/login.html">Admin Login</a>
    </header>

    <div>
        <form action="" id="search-form">
            <input type="text" name="" id="search-bar" placeholder="Search 100 Enrichment Items...">
        </form>
    </div>

    <div id="cardstack">
        <div class="card">
          <img src="/enrichment/src/main/resources/static/images/Items/Bongo.jpg" alt="" class="cardimg">
          <h2>Bongo</h2>
          <p>Last Checked In At:</p>
          <p>Location :</p>
          <p>Unavailiable <i class="fa-solid fa-circle-xmark"></i></p>
        </div>
        <div class="card">
          <img src="/enrichment/src/main/resources/static/images/Items/Bear_rattle.jpg" alt="" class="cardimg">
          <h2>Bear Rattle</h2>
          <p>Last Checked Out At:</p>
          <p>Location :</p>
          <p>Availiable <i class="fa-solid fa-circle-check"></i></p>
        </div>
        <div class="card">
          <img src="/enrichment/src/main/resources/static/images/Items/Antler.jpg" alt="" class="cardimg">
          <h2>Antler</h2>
          <p>Last Checked In At:</p>
          <p>Location :</p>
          <p>Unavailiable <i class="fa-solid fa-circle-xmark"></i></p>
        </div>
    </div>
</body>
</html>